name: .github/workflows/blank1.yml 

on:
  workflow_dispatch:

jobs:
  detect-secrets:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: detect secrets
      run: | 
      pip install detect-secrets
detect-secrets scan
